/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

// general styles

$white: #ffffff
$light: #f1f1f1
$dark:  #3d3d3d
$black: #000000

body
  font-family: 'Oxygen', sans-serif
  background-color: $light
  padding-top: 70px

.navbar
  background-color: $light

.navbar-logo
  height: 30px

.navbar-brand
  padding: 10px 15px

.small-centered
  max-width: 350px
  margin: 0 auto

// .medium-centered
//   max-width: 550px
//   margin: 0 auto

// disable the extra large breakpoint

@media screen and (min-width: 992px)
  .container
    width: 992px

// forms

.form-control
  background-color: #fbfbfb

label
  font-weight: normal

// homepage

.container .jumbotron, .container-fluid .jumbotron
  border-radius: 0

  @media screen and (min-width: 768px)
    padding-left: 30px
    padding-right: 30px

.jumbotron
  background: $dark url(hero.jpg)
  background-size: cover
  background-position: center center
  color: $white
  border-radius: 0

.home-hero
  text-align: center
  margin-bottom: 30px

  @media screen and (min-width: 768px)
    margin-top: 70px

  @media screen and (min-width: 992px)
    margin-top: 110px
    margin-bottom: 60px

.home-hero-heading
  font-family: 'Roboto Condensed'
  font-weight: 300
  font-size: 48px
  margin-top: 15px
  line-height: 100%

  @media screen and (min-width: 768px)
    margin-top: 0

.home-hero-subheading
  font-size: 24px
  font-weight: 300

.home-hero-button
  text-align: center

// posts

.post-thumbnail
  float: left
  max-width: 100px
  max-height: 100px
  margin-right: 10px

.post-title
  float: left

.voting-panel
  float: right
  box-shadow: none

.this-sucks-panel, .votes-panel
  width: 60px
  font-size: 10px
  padding: 5px
  text-align: center

.this-sucks-panel
  color: #aaa

.votes-panel
  color: #fff
  background-color: $panel-primary-border
  border-top: none
  border-radius: 0
