/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
  font-family: 'Open Sans', sans-serif
  background-color: #f1f1f1

.navbar-padding
  padding-top: 70px

.navbar
  opacity: 0.9

.navbar-logo
  max-width: 150px

.home-hero
  background: #000 url(one-cactus-dark.jpg)
  background-repeat: no-repeat
  background-position: center
  color: #fff
  text-align: center
  padding: 8rem 0 4rem 0

.form-control
  background-color: #fbfbfb

label
  font-weight: normal

.small-centered
  max-width: 350px
  margin: 0 auto

.medium-centered
  max-width: 550px
  margin: 0 auto

.medium-centered-flash
  max-width: 550px
  margin: 0 auto 20px